<template><div>
  <ConnectedHeader />
  <div class="about">
    <h3>Welcome to you connected user !</h3>
    <br />
    
    <b-card no-body>
      <b-tabs pills card>
        <b-tab title="List contacts" active>
          <contactList />
        </b-tab>
        <b-tab title="Add contacts">
          <addContactForm />
        </b-tab>
      </b-tabs>
    </b-card>
  
  </div>
</div>
</template>

<script>
import ConnectedHeader from "../components/ConnectedHeader.vue"
import addContactForm from "../components/addContactForm"
import contactList from "../components/contactList"


export default {
  name: "Dashboard",
  components: {
    ConnectedHeader,
    addContactForm,
    contactList,
  },
}
</script>

