<template>
  <b-jumbotron>
    <template v-slot:header> Connexion interface </template>

    <template v-slot:lead>
      Below the formulary for signUp or signIn in our magnificient application!
    </template>

    <hr class="my-4" />

    <FormHandler />
    
  </b-jumbotron>
</template>

<script>
import FormHandler from "../components/FormHandler"

export default {
  name: "Home",
  components: {
    FormHandler,
  },
};
</script>
