<template>
    <div>
        <h3 v-if="message == 'vide'">Veuillez remplir tout les champs !</h3>
        <h3 v-if="message == 'valide'">Bravo, votre contact à été ajouté !</h3>
        

        <div class="form-group" :class="{ 'form-group--error': $v.name.$error }">
            <label for="text-email">Pseudo</label><br />
            <input v-model="name" class="leInput" placeholder="Enter your name">
            <p class="error" v-if="!$v.name.required">Mot de passe requis</p>
            <p class="error" v-if="!$v.name.minLength">Votre mot de passe dois contenir minimum {{$v.name.$params.minLength.min}} caractères.</p>
        </div>

        <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
            <label for="text-email">Adress Email:</label><br />
            <input v-model="email" class="leInput" placeholder="Enter email"> 
            <p class="error" v-if="!$v.email.required">Adresse email requise</p>
            <p class="error" v-if="!$v.email.minLength">Votre adresse email n'ai pas valide.</p>
        </div><br />

    <b-button variant="danger" v-on:click="addContact()">Add-Contact</b-button>

    </div>
</template>

<script>
import axios from "axios"
import { mapGetters } from "vuex";
import { required, minLength} from 'vuelidate/lib/validators'


export default {
data() {
    return {
        name: "",
        email: "",
        message: "",
    };
  },

  validations: {
      name: {
        required,
        minLength: minLength(3)
      },
    email: {
      required,
      minLength: minLength(5)
    },
  },

  computed: { ...mapGetters(["getPayload"])},


methods: {
    addContact() {
        if (this.name == "" || this.email == "") this.message = "vide";
        else {
        let newContact = { name: this.name, email: this.email, user_affiliate: this.getPayload.email };
        axios
            .post("http://localhost:3000/newcontact", newContact)
            .then((response) => {
            console.log(response);    
            this.name = "";
            this.email = "";
            this.message = 'valide';
            this.$store.state.allContacts.push(newContact)
            })
            .catch((error) => {
            console.log(error.response);
            });
        }
    },
}                                                       
    
}
</script>

<style>

</style>