<template>
  <b-navbar type="dark" variant="dark">
    <b-navbar-brand>Dashboard</b-navbar-brand>
    <b-navbar-brand >{{ getPayload.name }}</b-navbar-brand>

    <b-navbar-nav class="ml-auto">
      <b-nav-form>
        <b-button variant="danger" v-on:click="signOut()">Deconnexion</b-button>
      </b-nav-form>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";


export default {
  name: "Dashboard",
  components: {
  },

  computed: {...mapActions(["deleteToken"]) ,  ...mapGetters(["getPayload"])},

  methods: {
    signOut() {
      this.deleteToken;
      this.$router.push("/");
    },

  },
};
</script>


<style>

</style>