<template>
    <div class="affichage">
        <b-list-group  v-for="myVariable in myVariable" :key="myVariable.email">
            <p class="listContact">
                Name: {{ myVariable.name }} <br />
                Email: {{ myVariable.email }}
            </p>
        </b-list-group>
    </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from "vuex";

export default {
      data() {
    return {
      myVariable: "",
      myPayload: "",
    };
  },
  computed: { ...mapGetters(["getPayload"]), ...mapGetters(["getContact"])},
    


    methods: {},
        mounted() {
        axios
        .get(`http://localhost:3000/getcontacts/${this.getPayload.email}`)
        .then((response) => {   
            this.myVariable = response.data;
        })
    }
}
</script>

<style >
.affichage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.listContact {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;

}
</style>