<template>
  <div>
    <b-card no-body>
      <b-tabs pills card>
        <b-tab title="Sign-up" active>
          <SignUpForm />
        </b-tab>
        <b-tab title="Login">
          <SignInForm />
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import SignUpForm from "./SignUpForm";
import SignInForm from "./SignInForm";

export default {
  name: "FormHandler",

  components: {
    SignUpForm,
    SignInForm
  }
};
</script>

<style></style>
