<template>
<div>
    <h3 v-if="message == 'vide'">Veuillez remplir tous les champs !</h3>
    <h3 v-if="message == 'erreur'">Cette adresse existe déjà !</h3>
    <h3 v-else-if="message == 'valide'">Bravo, vous êtes maintenant enregistré !</h3>

    <div class="form-group" :class="{ 'form-group--error': $v.name.$error }">
      <label for="text-name">Pseudo:</label><br />
      <input v-model="name" class="leInput" placeholder="Enter name"> 
      <p class="error" v-if="!$v.name.required">Pseudo requis</p>
      <p class="error" v-if="!$v.name.minLength">Votre pseudo doit contenir minimum {{$v.name.$params.minLength.min}} caractères.</p>
    </div><br />

    <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
      <label for="text-email">Email:</label><br />
      <input v-model="email" class="leInput" placeholder="Enter email"> 
      <p class="error" v-if="!$v.email.required">Adresse email requise</p>
      <p class="error" v-if="!$v.email.minLength">Votre adresse email n'ai pas valide.</p>
    </div><br />

    <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
      <label for="text-email">Password</label><br />
      <input v-model="password" class="leInput" placeholder="Enter your password">
      <p class="error" v-if="!$v.password.required">Mot de passe requis</p>
      <p class="error" v-if="!$v.password.minLength">Votre mot de passe dois contenir minimum {{$v.password.$params.minLength.min}} caractères.</p>
    </div>

    <b-button variant="success" @click.stop.prevent="postUsers">Sign-up</b-button>
</div>
</template>

<script>
import axios from "axios";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
      message: "",
    };
  },
    validations: {
    name: {
      required,
      minLength: minLength(4)
    },
    email: {
      required,
      minLength: minLength(5)
    },
    password: {
      required,
      minLength: minLength(4)
    }
  },

  methods: {
    postUsers() {
      if (this.name == "" || this.email == "" || this.password == "") this.message = "vide";
       else 
        axios
          .post("http://localhost:3000/sign-up", { name: this.name, email: this.email, password: this.password, })
          .then((response) => {
            console.log(response);
            this.name = "";
            this.email = "";
            this.password = "";
            this.message = "valide"; })
          .catch((error) => {
            console.log(error);
            this.name = "";
            this.email = "";
            this.password = "";
            this.message = "erreur";
          }); 
      }
    },
  
};
</script>

<style>
.error {
    display: block;
    color: #f57f6c;
}

.leInput {
    font-family: "Lato", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: #374853;
    line-height: 2.375rem;
    min-height: 2.375rem;
    position: relative;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    background: #fff;
    padding: 0 0.8125rem;
    width: 40%;
    transition: border .1s ease;
    box-sizing: border-box;
}
</style>
